
.hero.kontak-hero {
    background: url('/img/icon/Document.jpg') center/cover no-repeat;
    color: white;
    text-align: center;
    padding: 160px 20px;
    position: relative;
    min-height: 300px;
}

.kontak-hero .hero-content {
    text-align: center;
}

.kontak-hero h1 {
    font-size: 3rem;
    font-weight: 700;
}

/* Bagian Kontak Utama */
.kontak-content {
    padding: 50px 0;
    background-color: #fff; 
}

/* Map Section */
.map-card {
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    height: 100%;
}

.map-placeholder {
    width: 100%;
    height: 100%;
    min-height: 450px;
    background-color: #e0e0e0; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #555;
    
    background-size: cover;
    background-position: center;
    border: 5px solid #fff;
    box-sizing: border-box;
}

/* Info Cards */
.info-card {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 5px rgba(12, 1, 61, 0.05);
}

.info-icon-box {
    background-color: #083458;
    color: rgb(255, 255, 255);
    padding: 15px;
    border-radius: 5px;
    margin-right: 20px;
    font-size: 1.5rem;
    line-height: 1;
}

.info-detail h5 {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 2px;
    color: #555;
}

.info-detail p {
    margin: 0;
    font-size: 0.9rem;
    color: #333;
}