body {
    font-family: 'Poppins', sans-serif;
}

.hero {
    background: url('/img/icon/Document.jpg') center/cover no-repeat;
    color: white;
    text-align: center;
    background-attachment: fixed;
    padding: 220px 20px;
    position: relative;
    min-height: 92vh;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.hero-content {
    position: relative;
    z-index: 2;
}

.hero h1 {
    font-size: 2.8rem;
    font-weight: 700;
}

.hero p {
    margin-top: 20px;
    font-size: 1rem;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
